html{
	font-size:16px;
}
html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.walletInfo {
	margin: 0 auto;
	height: 13.8125rem;
	width: 100%;
	background: url(../static/img/moneyDiTu.png) no-repeat center;
}

.walletInfo .walletInfoContent {
	width: 84%;
	height: 13.8125rem;
	margin: 0 auto;
}

.walletInfo .walletInfoContent .topAll {
	height: 7.4rem;
	width: 100%;
	/*display: flex;
	justify-content: center;*/
	/*align-items: center;*/
}

.walletInfo .walletInfoContent .topAll .top1 {
	display: flex;
	width: 100px;
	height: 3rem;
	/*background: red;*/
	margin:0 auto;
	justify-content: center;
	align-items: flex-end;
}

.walletInfo .walletInfoContent .topAll .top1 p {
	color: #fff;
	font-size: 0.8rem;
	display:block;
	line-height:0;
	/*background:green;*/
}

.walletInfo .walletInfoContent.top2 {
	width: 148px;
	height: 117px;

	padding-top: 1.7rem;
}

.walletInfo .walletInfoContent .top2 .button {

	border: none;
	width: 8.5rem;
	height: 3.3125rem;
	/*margin-top:1.65rem;*/
	margin:0 auto;
	/*background: #fff;*/
	/*border-radius: 2rem;*/
	/*color: #f15755;*/
	/*font-size: 0.8rem;*/
	/*text-align: center;
	line-height: 48px;*/
}

/*.walletInfo .walletInfoContent .top2 i {
	color: #fff;
	font-size: 0.6rem;
	font-style: normal;
}*/

.walletInfo .walletInfoContent .topAll .top3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 100%;
	margin:0.5rem auto 0;
	/*border-bottom: 0.5px solid #eea19b;*/
}

.walletInfo .walletInfoContent .topAll .top3 i {
	font-size: 2.75rem;
	/*font-size: 1rem;*/
	font-style: normal;
	color: #fff;
	margin-bottom: 0.25rem;
}

.walletInfo .walletInfoContent .topAll span {
	font-size: 2.75rem;
	font-style: normal;
	color: #fff;
	margin-bottom: 0.25rem;
}

.walletInfo .walletInfoContent .top4 {
	height: 3.25rem;
	width: 100%;
	display: flex;
	margin-top:1.65rem;
	justify-content: space-between;
	align-items: center;
	font-size: 0.7rem;
}

/*.walletInfo .walletInfoContent .top4 p {
	display: block;
	color: #fff;
}*/

 .walletInfo .walletInfoContent .top4 div i {
	font-style: normal;
}

#sellMoney {
	width: 100%;
	/*height: 350px;*/
	background: #fff;
	padding-bottom:2.6rem;
}

#sellMoney .sellMoneyCenter {
	margin: 0 auto;
	padding-top: 10px;
	width: 100%;
	padding:0 0.75rem;
	/*height: 210px;*/
}

#sellMoney .sellMoneyCenter .sellMoneyCenter1 {
	width: 100%;
	height: 4.375rem;
	margin: 0 auto;
	border-bottom: 0.5px solid #d2d2d2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#sellMoney .sellMoneyCenter .sellMoneyCenter1 .left {
	width: 11.25rem;
	height: 4.375rem;
}

#sellMoney .sellMoneyCenter .sellMoneyCenter1 .left .left-p1 {
	font-size: 1rem;
	display: block;
	height: 2.1875rem;
	width: 100%;
	color: #000;
	line-height: 3rem;
	;
	text-align: left;
}

#sellMoney .sellMoneyCenter .sellMoneyCenter1 .left .left-p2 {
	display: block;
	height: 2.1875rem;
	width: 100%;
	font-size: 0.82rem;
	color: #949494;
	text-align: left;
	display: block;
	line-height: 2.1875rem;
}

.sellMoneyCenter1 span {
	font-size: 1rem;
	color: #f34900;
}*/