html{
	font-size: 16px;
}
html,body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-family: PingFangSC-Regular, sans-serif;
}
.writeInfoTop {
	width: 100%;
	height: 2.7rem;
	background: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0.6rem;
}

.writeInfoTop img {
	display: block;
	width: 1.3125rem;
	height: 1.3125rem;
}

.writeInfoTop .span1 {
	font-size: 1.0625rem;
	color: #f76d22;
	margin:0 0.6rem;
}

.writeInfoTop .span2 {
	font-size: 0.75rem;
	color: #a09fa4;
}

.writeInfoCenter {
	/*height:350px;*/
	width: 100%;
	background: #fff;
	margin-top: 15px;
}

.hangYeInfo {
	/*height:449px;*/
	width: 100%;
	background: #fff;
	margin: 15px auto;
}

.footInfo {
	height: 256px;
	width: 100%;
	background: #fff;
	margin: 15px auto;
}

.ErWeiMaManage {
	margin: 0 auto;
	height: 135px;
	width: 100%;
	background: #fff;
	border: 0.5px solid #a5a4a9;
	border-right: none;
	border-left: none;
	display: flex;
	justify-content: space-between;
	/*align-items: center;*/
	padding: 0 1rem;
}

.ErWeiMaManage li {
	margin-top: 1rem;
	width: 3.18rem;
	height: 110px;
}

.ErWeiMaManage li div {
	display: block;
	width: 3.2rem;
	height: 3rem;
}

.ErWeiMaManage li div img {
	display: block;
	width: 3.18rem;
	height: 3.08rem;
}

.ErWeiMaManage li p {
	margin: 0 auto;
	width: 3.18rem;
	height: 38px;
	display: flex;
	justify-content: space-around;
	padding: 0 0.3rem;
	align-items: center;
}

.ErWeiMaManage li p img {
	display: block;
	width: 0.7rem;
	height: 0.7rem;
}

.ErWeiMaManage li p span {
	display: block;
	font-size: 0.7rem;
}