<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="../css/goldLeaf.css"/>
    <title>黄金叶</title>
</head>

<body>
<div class="goldLeafContent">
    <div class="goldLeafInfo">
    	
        <div class="goldLeafInfoLeft">
            <div class="goldLeafInfoLeftTop">
                <div class="goldLeafLogo">
                    <img src="../static/img/TouXiangPicLogo.png" alt="" class="goldLeafLogopic"/>
                </div>
                <img src="../static/img/yirenzheng.png" alt=""
                     style="display:block;height:1.06rem;width:3.6rem;margin:-1.2rem auto 0;"/>
            </div>


            <div class="goldLeafInfoLeftFoot">
                <img src="../static/img/zhengjianzhao.png" style="display:block;width:4.125rem;height:2.9375rem;margin:0 auto;" id="goldLeafInfoLeftFootImg"/>
            </div>
        </div>
		
        <div class="goldLeafInfoRight">
        	<a href="" style="width:1.2rem;height:1.815rem;margin-left:10.3rem;" >
        		<img src="../static/img/guize.png" alt="" style="width:1.2rem;height:1.815rem;"/>
        	</a>
            <p class="goldLeafInfoRightP1">
                <span class="goldLeafInfoRightP1Span1">经营人名称:</span>
                <span class="goldLeafInfoRightP1Span2" id="goldLeafInfoRightPOne"></span>
            </p>
            <p class="goldLeafInfoRightP1">
                <span class="goldLeafInfoRightP1Span1">手&nbsp&nbsp&nbsp机&nbsp&nbsp&nbsp号:</span>
                <span class="goldLeafInfoRightP1Span2" id="goldLeafInfoRightPTwo"></span>
            </p>
            <p class="goldLeafInfoRightP1">
                <span class="goldLeafInfoRightP1Span1">店&nbsp&nbsp&nbsp铺&nbsp&nbsp&nbsp名:</span>
                <span class="goldLeafInfoRightP1Span2" id="goldLeafInfoRightPThree"></span>
            </p>
            <p class="goldLeafInfoRightP1">
                <span class="goldLeafInfoRightP1Span1">店&nbsp铺&nbsp地&nbsp址:</span>
                <span class="goldLeafInfoRightP1Span2" id="goldLeafInfoRightPFour"></span>
            </p>
            <p class="goldLeafInfoRightP1">
                <span class="goldLeafInfoRightP1Span1">烟草专卖零售许可证件号:</span>
                <span class="goldLeafInfoRightP1Span2" id="goldLeafInfoRightPFive">343243dssdsdfds2</span>
            </p>

        </div>
    </div>
    <div class="SaoYiSao">
    <img id="sao2" class="weui-btn weui-btn_primary" src="../static/img/saoyisao.png" style="width: 10.65rem;height: 3.125rem;margin-top:4.2rem;"/>
    <p style="color:#e8d296;text-align: center;font-size:0.875rem;font-weight: 500 ;">再扫烟包二维码, &nbsp;中奖概率翻倍</p>
</div>
</div>
<!--<div style="height:3.875rem;width:100%;background:#e40000;">
	
</div>-->


<!--扫一扫-->
<!--<div class="SaoYiSao">
    <img id="sao2" class="weui-btn weui-btn_primary" src="../static/img/saoyisao.png" style="width: 60%;height: 4rem"/>
    <p style="color:#eb295b;text-align: center;font-size:1.15rem;font-weight: 500 ;">点击扫一扫,&nbsp;&nbsp;"码"&nbsp;上有奖</p>
</div>-->

<!--<input id="testBut" type="button" value="测试扫一扫">-->


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type='text/javascript' src='../js/goldLeaf.js'></script>
</body>

</html>