<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../css/goldLeaf.css" />
		<title>黄金叶</title>
	</head>

	<body>
		<div class="goldLeafContent">
			<div class="goldLeafInfo">
				<div class="goldLeafInfoLeft">
					
				</div>
				<div class="goldLeafInfoRight">
					
				</div>
			</div>
		</div>

		<!--扫一扫-->
		<div class="SaoYiSao">
			
		<img class="SaoYiSaoButton" src="../static/img/saoyisao.png" alt="" />
		<p style="color:#eb295b;text-align: center;font-size:1.15rem;font-weight: 500 ;">点击扫一扫,&nbsp;&nbsp;"码"&nbsp;上有奖</p>
		</div>

	</body>

</html>