<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
		<link rel="stylesheet" href="../css/index.css" />
		<script>	
    	
			 var bw = (document.documentElement.clientWidth/320)*20+"px";
			 var htmlTag = document.getElementsByTagName("html")[0];
			 htmlTag.style.fontSize=bw;
		 
		 </script>
	</head>
	<body>
		<div id="app">
		<!--头部-->
		<header class="bar bar-nav" style="background:#373536;">
			<button class="button button-link button-nav pull-left" style="color:#feffff;">
    <span class="icon icon-left" style="color:#feffff;"></span>
    微信
  </button>
			<button class="button button-link button-nav pull-right">
   
   
    <span >
    	<img src="../static/img/wode.png" alt="" style="display:block;width:1rem;height:1rem;margin-right:0.3rem;"/>
    </span>
  </button>
			<h1 class="title" style="color:#feffff;">门店中心</h1>
		</header>
		<!--中间内容区-->
		<div class="content">
			<!--nihao-->
		</div>
<!--底部工具栏-->

			
			<nav class="bar bar-tab">
	 <a class="tab-item external" href="#">
    <span class="icon icon-home"></span>
    <span class="tab-label">门店中心</span>
  </a>
  <a class="tab-item external" href="#">
    <span class="icon icon-me"></span>
    <span class="tab-label">我的业绩</span>
  </a>
  <a class="tab-item external" href="#">
    <span class="icon icon-star"></span>
    <span class="tab-label">我的钱包</span>
  </a>
	</nav>
		
		
		
		
	</div>	
		
		
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
	</body>
	
</html>
