<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title style="text-align: center;">我的业绩</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">-->
			<link rel="stylesheet" href="../css/sm.css" />
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/MineScroe.css" />
		<link rel="stylesheet" href="../css/mui.min.css">
		<script>
			(function(doc, win) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						docEl.style.fontSize = 16 * (clientWidth / 375) + 'px';

					};
				if(!doc.addEventListener) return;
				win.addEventListener(resizeEvt, recalc, false);
				doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);
		</script>
	</head>

	<body>
		<div id="app">




			<!--中间内容区-->
			<div class="content">
			<div class="moneyTop">
	<div class="moneyTop1">

		<a id="TreeMonth">
			<img  src="../static/img/moneyPic1.png" alt="" />
			<span>近三个月</span>
		</a>

		<!--<a  href="dateTime/index.html" style="width:110px;" >
			<img src="../static/img/moneyPic2.png" alt="" />
			<span>日期选择
			<i style="font-size:0.5rem;color:#c1c1c1;font-style:normal;">(开始)</i>
		</a>-->
		<input type="text"  data-toggle='date' id="dateStart" style="width:5.6875rem;height:1.15625rem;font-size:0.875rem;line-height:1.15625rem;text-align:center;padding:0;margin:0;border:0.5px solid #b48662;" value="开始时间" readonly="true"/>
		<!--<a href="dateTime/index.html" style="width:110px;height:2.5rem;display: flex;justify-content: space-around;align-items: center;">
			<img src="../static/img/moneyPic2.png" alt="" style="display:block;width:0.7rem;height:0.7rem;"/>
			<span style="font-size: 0.6rem;color:#030303;display:flex;justify-content: center;align-items: flex-end;">日期结束
			<i style="font-size:0.5rem;color:#c1c1c1;font-style:normal;">(结束)</i>
			</span>
		</a>-->
		<img style="display: block;width:0.97rem;height:0.1rem;margin: 0 -2rem;" src="../static/img/timeZhou.png" alt="" />
		<input type="text"  data-toggle='date' id="dateEnd" style="width:5.6875rem;height:1.15625rem;border:0.5px solid #b48662;font-size:0.875rem;line-height:1.15625rem;padding:0;margin-bottom:0;text-align:center;" value="截止时间" readonly="true"/>
		</div>

		<div class="paiHangBang">
			<div style="display: flex;align-items: center;">
			<img src="../static/img/xiepo.png" alt="" style="display: block;width:1.5625rem;height:1.15625rem;"/>
			<p style="line-height: 3rem;margin:0 0 0 2.5rem;">
				<span style="color:#828284;font-size: 0.7rem;">总销量:</span>
				<span class="listSpan" style="color:#000;font-size:0.84375rem;"></span>
				<i style="font-style: normal;color:#000;font-size:0.84375rem;" class="list1I"></i>
				<span class="listSpanTwo" style="color:#000;font-size:0.84375rem;"></span>
				<i style="font-style: normal;color:#000;font-size:0.84375rem;" class="list1ITwo"></i>
			</p>
			</div>
			<a href="performanceRanking.html" >
			<img src="../static/img/huangguan.png" alt="" style="display: block;width:8.65625rem;height:3.125rem;"/></a>
		</div>
		</div>
			<div style="width: 100%;background: #fff;margin-top: 0.67rem;" id="id_PShang">
			<ul class="ul">
				<li>
					<p class="PShang">本周扫码业绩</p>
					<p class="PXia" id="PXiaNum1"></p>
				</li>
				<li>
					<p class="PShang">本月扫码业绩</p>
					<p class="PXia" id="PXiaNum2"></p>
				</li>
				<li>
					<p class="PShang">总扫码业绩</p>
					<p class="PXia" id="PXiaNum3"></p>
				</li>
			</ul>
			</div>
			<div class="paiHangXiangQ">
			<ul class="ul2">
				<li>商品名称</li>
				<li>日期</li>
				<li>数量</li>
				<li>返现</li>
			</ul>
			<div id="pullrefresh">
				<div>
			<div class="ul3">
				<!--<ul class="list1">
					<li class="Span1">
						黄金叶
						<i style="font-style: normal;">(黄金)</i>
					</li>
					<li class="Span2"  style="color:#818183;">2017.07.15</li>
					<li class="Span3">1条</li>
					<li class="Span4" style="color:#ec5504;">+5.00</li>
				</ul>
				<ul class="list1">
					<li class="Span1">
						黄金叶
						<i style="font-style: normal;">(黄金)</i>
					</li>
					<li class="Span2"  style="color:#818183;">2017.07.15</li>
					<li class="Span3">1条</li>
					<li class="Span4" style="color:#ec5504;">+5.00</li>
				</ul>
				<ul class="list1">
					<li class="Span1">
						黄金叶
						<i style="font-style: normal;">(黄金)</i>
					</li>
					<li class="Span2"  style="color:#818183;">2017.07.15</li>
					<li class="Span3">1条</li>
					<li class="Span4" style="color:#ec5504;">+5.00</li>
				</ul>-->


			</div>
			</div>
			</div>



		</div>

			<div style="height:60px;width:100%;border-bottom:0.5px solid #d2d2d2;">

			</div>
			</div>




			<!--底部工具栏-->

			<nav style="bottom: 0;width: 100%;height: 3.25rem;position: absolute;right: 0;left:0;z-index: 10;table-layout: fixed;background:url(../static/img/footBackground.png) no-repeat center;background-size:100% 100%;display: flex;">
				<a href="home.html" style="display:block;width:33.33%;height:3.25rem;display: flex;flex-direction:column;justify-content: center;align-items: center;">
					<img src="../static/img/icon-home2.png" alt="" style="display:block;width:1.5rem;height:1.34375rem;margin-top:0.4rem;" />
					<span style="font-size: 0.625rem;color:#6a3314;margin-top:0.3rem;">门店中心</span>
				</a>
				<a href="MineScore.html" style="display:block;width:33.33%;height:3.25rem;display: flex;flex-direction:column;justify-content: center;align-items: center;">
					<img src="../static/img/icon-yeji1.png" alt="" style="display:block;width:1.5rem;height:1.34375rem;margin-top:0.4rem;" />
					<span style="font-size: 0.625rem;color:#af8360;margin-top:0.3rem;">我的业绩</span>
				</a>
				<a href="MoneyManage.html" style="display:block;width:33.33%;height:3.25rem;display: flex;flex-direction:column;justify-content: center;align-items: center;">
					<img src="../static/img/icon-qianbao2.png" alt="" style="display:block;width:1.5rem;height:1.34375rem;margin-top:0.4rem;" />
					<span style="font-size: 0.625rem;color:#af8360;margin-top:0.3rem;">我的钱包</span>
				</a>
			</nav>

		</div>
		<script src="../js/mui.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/1.4.4/jquery.min.js"></script>
		<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='../js/MineScore.js'></script>
	</body>

</html>