<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>业绩排行榜</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/performanceRanking.css" />
		<script>
			var bw = (document.documentElement.clientWidth / 320) * 20 + "px";
			var htmlTag = document.getElementsByTagName("html")[0];
			htmlTag.style.fontSize = bw;
		</script>
	</head>

	<body>
		<div id="app">
			
			<!--中间内容区-->
			<div class="content">
			<div class="contentCenter">
				<div class="topInfo" style="width:8.52rem;height:2.5rem;position:absolute;top:5.2rem;left:5.1rem;background:none;padding:0 0.8rem 0 1rem;">
					<div class="TouXiang" style="width:2rem;height:2.5rem;">
						<div class="TouXiangOne" style="width:2rem;height:2rem;">
							<img src="../static/img/logo.jpg" alt="" style="display:block;width:2rem;height:2rem;border-radius:50%;margin-top:0.3rem;" />
						</div>
						<img src="../static/img/yirenzheng.png" alt="" style="width:46px;height:12px;display: block;margin-top:-0.45rem" />
					</div>
					<div class='top-center' style="width:100px;height:2.5rem;">
						<p class="top-center-P1" style="height:1.25rem;width:100px;text-align: left;line-height: 1.25rem;font-size:0.6rem;">乐天便利零售店</p>
						<div class="YuHongInfo" style="width:100px;height:1.25rem;">
							<div class="YuHongInfo-1" style="width:50px;height:1.25rem;">
								<i style="font-size:0.5rem;">123.00</i>
								<span style="font-size:0.4rem;">账户余额</span>
							</div>
							<div class="YuHongInfo-2" style="width:45px;height:1.25rem;">
								<p class="YuHongInfo-2-P1" style="font-size:0.5rem;">
									<i>90</i>
									<span>个</span>
								</p>
								<p class="YuHongInfo-2-P2" style="font-size:0.4rem;">红包</p>
							</div>
						</div>
					</div>

				</div>

				<i style="font-style:normal;position:absolute;top:9.8rem;left:1.87rem;font-size:1.7rem;color:#b53335;">5</i>
				<ul style="width:268px;height:32px;display: flex;align-items: center;justify-content: space-between;-webkit-padding-start: 0;position:absolute;top:10.75rem;left:4.3rem;margin:0 auto;">
					<li style="width:33.33%;color:#fff;">100</li>
					<li style="width:33.33%;color:#fff;">800</li>
					<li style="width:33.33%;color:#fff;">12000</li>
				</ul>

				<div class="InfoList">
					<div class="InfoListCenter">
						<ul class="InfoListUl">
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">莲花超市</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">乐天便利店</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">乐天便利店</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">乐天便利店</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">乐天便利店</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">乐天便利店</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">乐天便利店</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">乐天便利店</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">乐天便利店</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
							<li>
								<span style="width:67px;height:46px;"></span>
								<span style="width:108px;height:46px;line-height:46px;">乐天便利店</span>
								<span style="width:86px;height:46px;line-height:46px;">12333</span>
								<span style="width:80px;height:46px;line-height:46px;">苹果7</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		</div>

		<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
	</body>

</html>