<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>业绩排行榜</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<link rel="stylesheet" href="../css/index.css" />-->
		<link rel="stylesheet" href="../css/performanceRanking.css" />
		<link rel="stylesheet" href="../css/mui.min.css">
	</head>

	<body>
		<div id="app">
			<div class="new_top">
				<i id="MyOrder" style="font-style:normal;position:absolute;top:3.2rem;left:14.77%;font-size:1.6rem;color:#ea050a;">5</i>				<ul style="width:72%;height:2rem;display: flex;align-items: center;justify-content: space-between;-webkit-padding-start: 0;position:absolute;list-style:none;top:8.25rem;left:27.73%;margin:0 auto;">
					<li class="weekTotalNum" style="width:33.33%;color:#ea050a;text-align: center;font-size: 0.85rem;"></li>
					<li class="monthTotalNum" style="width:33.33%;color:#ea050a;text-align: center;font-size: 0.85rem;"></li>
					<li class="totalNum" style="width:33.33%;color:#ea050a;text-align: center;font-size: 0.85rem;"></li>
				</ul>
				<a href="achievementExplain.html" style="display:block;position:absolute;left:17.2rem;top:2.375rem;width:4.5rem;height:1.1rem;">
					<img src="../static/img/activityBtn.png" alt="" style="display:block;width:4.5rem;height:1.1rem;"/>
				</a>
			</div>
			<!--中间内容区-->
			<div class="content" style="margin:0;padding:0;">
			<div class="contentCenter">
				

				<div class="InfoList">
					<div class="InfoListCenter">
						
						<div id="pullrefreshmdg">
						<div>
						<ul  class="InfoListUl" style="margin-top:-.25rem;padding:1.44rem 0.7rem 0;">
							
							<li style="border-bottom:0.5px solid #d8d8d8;">
								<span style="width:22.81%;text-align: center;font-size:1.0625rem;color:#000;font-weight:600;line-height:2.9375rem;height:2.9375rem;display: block;border-right:0.5px solid #d8d8d8;">名次</span>
								<span id="NumberOneName" style="width:41.96%;height:2.9375rem;font-size:1.0625rem;color:#000;font-weight:600;line-height:2.9375rem;display: block;border-right:0.5px solid #d8d8d8;text-align: center;">零售店</span>
								<span id="NumberOneYeJi" style="display:block;width:35.23%;font-size:1.0625rem;color:#000;font-weight:600;height:2.9375rem;line-height:2.9375rem;text-align: center;">扫码业绩</span>
							</li>
							
						</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</div>

		<!--<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>-->
		<script src="../js/mui.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="../js/performanceRanking.js"></script>
			
		
	</body>

</html>