<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>门店中心</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">-->
			<link rel="stylesheet" href="../css/sm.css" />
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/userInfo.css" />

		<script>
			(function(doc, win) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						docEl.style.fontSize = 16 * (clientWidth / 375) + 'px';

					};
				if(!doc.addEventListener) return;
				win.addEventListener(resizeEvt, recalc, false);
				doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);
		</script>
	</head>

	<body>
		<div id="app">
			<!--头部-->

			<!--中间内容区-->
			<div class="content">
				<div class="writeInfo" style="margin-bottom:50px;">
					<div class='writeInfoTop'>

						<img src="../static/img/qianzi.png" alt="" />
						<span class="span1 ">基本信息填写</span>
						<span class="span2">(<i style="color:#dfbe95;font-style:normal;line-height: 0.5rem;font-size: 1rem;"> * </i>为必填项，其余可不填写)</span>

					</div>

					<!--添加FORM表单-->
					<form id="tf" enctype="multipart/form-data" method="post">
						<div class="writeInfoCenter">
							<p class="writeInfoCenterP1" style="display: block;height:2.5625rem;width: 100%;font-size:1rem;color:#000;line-height:2.5625rem;text-align: left;padding-left:0.7rem;margin-bottom:0;">
								<i style="color:#dfbe95;font-size: 1rem;font-style:normal;">*</i> 请您上传头像照片
							</p>
							<div id="filePicker"  style="display:block;width:9.34rem;height:7.16rem;line-height:7.16rem;margin:0.2rem auto;opacity:0;">
						     上传图片
							</div>
							<div class="uploader-list" id="uploaderList" style="background:url(../static/img/touxiangImg.png) no-repeat center;width:9.34rem;height:7.16rem;background-size: 100% 100%;margin:-7.36rem auto 0;border:none;">
								<img id="ImgTan" src="../static/img/touxiangImg.png" name="ImgTan" style="display:inline-block;width:9.34rem;height:7.16rem;border:none;"/>
								<input type="hidden" value="" id="headImg" name="headImg"/>
							</div>


							<p class="writeInfoCenterP2" style="display: block;height:41px;width: 100%;font-size:0.7rem;color:#000;line-height:41px;text-align: left;padding-left:22px;margin-bottom:0;">
								<i style="color:#f76d22;">*</i> 经营人名称:
								<input type="text" name="ownerName" maxlength="20" id="ownerName" style="border:none;border-bottom:0.5px solid #b7b7b9;width:8.5rem;" />
							</p>
							<p class="writeInfoCenterP3" style="display: block;height:41px;width: 100%;font-size:0.7rem;color:#000;line-height:41px;text-align: left;padding-left:22px;margin-bottom:0;margin-top:0;">
								<i style="color:#f76d22;">*</i> 手机号：
								<input type="text" name="phoneNo" id="phoneNo" style="border:none;border-bottom:0.5px solid #b7b7b9;width:8.5rem;margin-left:1rem;" maxlength="11"/>
							</p>
							<p style="display:flex;justify-content: space-between;padding:0 2.4rem 0 1rem;margin-top:0;margin-bottom:0;align-items: center;">
								<span style="color:#000;font-size:0.7rem;">
						<i style="color:#f76d22;">*</i> 性别:
					</span>

								<label style="color:#000;font-size:0.8rem;font-weight:500;margin-right:1rem;"><input  type="radio" value="1" name="contactGender" checked="checked"/>男</label>
								<label style="color:#000;margin-right:3rem;font-size:0.8rem;font-weight:500;"><input  type="radio" value="2" name="contactGender" />女 </label>

							</p>

							<p class="writeInfoCenterP2" style="display: block;height:41px;width: 100%;font-size:0.7rem;color:#000;line-height:41px;text-align: left;padding:0 1.4rem 0 1rem;margin-top:0;margin-bottom: 0;">
								<!--<i style="color:#f76d22;">*</i>-->
								<i style="color:#f76d22;">*</i> 联系人姓名:
								<input type="text" name="contactName" id="contactName" style="border:none;border-bottom:0.5px solid #b7b7b9;width:8.5rem;margin-left:0.1rem;" maxlength="20"/>
							</p>

							<p class="writeInfoCenterP2" style="display: block;height:41px;width: 100%;font-size:0.7rem;color:#000;line-height:41px;text-align: left;padding:0 1.4rem 0 1rem;margin-top:0;">
								<!--<i style="color:#f76d22;">*</i>-->
								<i style="color:#f76d22;">*</i> 联系人电话:
								<input type="text" name="contactPhone" id="contactPhone" style="border:none;border-bottom:0.5px solid #b7b7b9;width:8.5rem;margin-left:0.1rem;" maxlength="11"/>
							</p>
						</div>

						<div class='writeInfoTop' style="height:45px;margin-top:15px;display:flex;justify-content: flex-start;">

							<img src="../static/img/qianzi.jpg" alt="" style="height:45px;" />
							<span class="span1 " style="margin-left:0.3rem;">行业信息</span>

						</div>

						<!--行业信息-->

						<div class="hangYeInfo">
							<p class="writeInfoCenterP2" style="display: block;height:41px;width: 100%;font-size:0.7rem;color:#000;line-height:41px;text-align: left;padding-left:22px;margin-bottom:0;">
								<i style="color:#f76d22;">*</i> 店铺名称:
								<input type="text" name="shopName" id="shopName" style="border:none;border-bottom:0.5px solid #b7b7b9;width:8.5rem;margin-left:0.8rem;" maxlength="20"/>
							</p>

							<div class="writeInfoCenterP4" style="display: flex;height:41px;width: 100%;font-size:0.7rem;color:#000;line-height:41px;text-align: left;padding-left:22px;margin-bottom:0;margin-top:0;">
								<i style="color:#f76d22;margin-right:0.2rem;">*</i>
								<span>门店地址:</span>
								<div style="display: flex;width:8rem;height:41px;align-items: center;margin-left:1rem;justify-content: space-between;">
									<div style="display: flex;">

										<select name="addrProvince" id="addrProvince" style="width:2.6rem;height:1rem;font-size:0.6rem;border:0.5px solid #dcdcdc;border-radius:0.3rem 0 0 0.3rem;text-align: center;appearance:none;-moz-appearance:none;-webkit-appearance:none;line-height:1rem;background:url(../static/img/shengshi.png) no-repeat right;background-size:0.8rem 1rem;">
											<option>省</option>

										</select>

										<!--<img src="../static/img/shengshi.png" alt="" style="display:block;width:0.8rem;height:1rem;margin-left:-0.6rem;"/>-->

									</div>
									<div style="display: flex;margin:0 0.3rem;">
										<select name="addrCity" id="addrCity" style="width:2.6rem;height:1rem;font-size:0.6rem;border:0.5px solid #dcdcdc;border-radius:0.3rem 0 0 0.3rem;text-align: center;appearance:none;-moz-appearance:none;-webkit-appearance:none;line-height:1rem;background:url(../static/img/shengshi.png) no-repeat right;background-size:0.8rem 1rem;">
											<option>市</option>

										</select>
										<!--<img src="../static/img/shengshi.png" alt="" style="display:block;width:0.8rem;height:1rem;margin-left:-0.6rem;" />-->
									</div>
									<div style="display: flex;">
										<select name="addrArea" id="addrArea" style="width:2.6rem;height:1rem;font-size:0.6rem;border:0.5px solid #dcdcdc;border-radius:0.3rem 0 0 0.3rem;text-align: center;appearance:none;-moz-appearance:none;-webkit-appearance:none;line-height:1rem;background:url(../static/img/shengshi.png) no-repeat right;background-size:0.8rem 1rem;">
											<option>区</option>

										</select>
										<!--<img src="../static/img/shengshi.png" alt="" style="display:block;width:0.8rem;height:1rem;margin-left:-0.6rem;" />-->
									</div>
								</div>
							</div>

							<textarea name="addrDetail" id="addrDetail" placeholder="请输入详细地址，精确到街道门牌号" style="color:#000;font-size:0.6rem;display:block;width:8.3rem;height:60px;margin:10px 0 0 5.3rem;border:0.5px solid #c6c6c8;border-radius:0.3rem;padding:0.3rem;"></textarea>

							<p class="writeInfoCenterP1" style="display: block;height:2.5625rem;width: 100%;font-size:1rem;color:#000;line-height:2.5625rem;text-align: left;padding-left:0.7rem;margin-bottom:0;">
								<i style="color:#dfbe95;font-size: 1rem;font-style:normal;">*</i> 请您上传头像照片
							</p>
							<div id="filePicker2"  style="display:block;width:9.34rem;height:7.16rem;line-height:7.16rem;margin:0.2rem auto;opacity:0;background-size: 100% 100%;">
						     上传图片
							</div>
							<div class="uploader-list" id="uploaderList" style="background:url(../static/img/fengjingImg.png) no-repeat center;width:9.34rem;height:7.16rem;background-size: 100% 100%;margin:-82.5px auto 0;border:none;">
								<img id="ImgTanFJ" src="../static/img/fengjingImg.png" name="ImgTanFJ" style="width:9.34rem;height:7.16rem;"/>
								<input type="hidden" value="" id="licenceImg" name="licenceImg"/>
							</div>





							<p class="writeInfoCenterP2" style="display: block;height:41px;width: 100%;font-size:0.6rem;color:#000;line-height:41px;text-align: left;padding-left:22px;margin-bottom:0;">
								<i style="color:#f76d22;">*</i> 烟草专卖零售许可证件号
								<input type="text" id="licenceNo" name="licenceNo" style="border:none;border-bottom:0.5px solid #b7b7b9;width:6rem;margin-left:0.1rem;" maxlength="20"/>
							</p>

							<p style="display:flex;justify-content: space-between;padding:0 2.4rem 0 1rem;margin-top:20px;margin-bottom:0;align-items: center;">
								<span style="color:#000;font-size:0.8rem;font-weight:500;">
						<i style="color:#f76d22;">*</i> 区域:
					</span>

								<label  style="color:#000;margin-right:1rem;font-size:0.8rem;font-weight:500;"><input  type="radio" value="1" checked="checked" name="district" id="district"/>城镇 </label>
								<label style="color:#000;margin-right:3rem;font-size:0.8rem;font-weight:500;"><input  type="radio" value="2" name="district" id="district"/>乡村 </label>
							</p>

							<p class="writeInfoCenterP2" style="display: block;height:41px;width: 100%;font-size:0.8rem;font-weight:500;color:#000;line-height:41px;text-align: left;padding:0 1.3rem 0 1rem;margin-top:0;margin-bottom: 0;">

								<i style="color:#f76d22;">*</i> 业态:
								<input type="text" id='picker' name="picker"  style="border:none;border-bottom:0.5px solid #b7b7b9;width:8.5rem;margin-left:1rem;" />
								<input type="hidden" id="commercial" name="commercial"/>
							</p>

							<router-link to="" class="Select" style="display:flex;justify-content:space-between;align-items:center;padding:0 0.3rem 0 0.9rem;height:45px;width:100%;background:#fff;margin-top:25px;">
								<i style="color:#f76d22;">*</i><img src="../static/img/icon-fangdajing.jpg" alt="" class="Img1" style="display:block;width:45px;height:45px;" />
								<p style="display:block;width:247px;height:45px;margin:0;color:#000;text-align: left;line-height:45px;">选择二维码标牌样式</p>
								<!--<img src="../../static/img/icon-jiantou.jpg" alt="" class="Img2" style="display:block;width:45px;height:45px;"/>-->
								<div style='width:45px;height:45px;'></div>
							</router-link>

							<div class="footInfo" style="border-bottom:0.5px solid #a5a5a5;">
								<ul class="ErWeiMaManage" style="border:none;">
									<li>
										<label for="qrStyle1">
											<div>
												<img src="../static/img/ErWeiMa1.jpg" alt="" />
											</div>
										</label>

										<p class="listErWeiMa">
											<input class="YiXuanChangeRadio" type="radio" value="1" id="qrStyle1" name="qrStyle" class="qrStyle" />已选
										</p>
									</li>
									<li>

										<label for="qrStyle2">
											<div>
												<img src="../static/img/ErWeiMa3.jpg" alt="" />
											</div>
										</label>

										<p>

											<input class="YiXuanChangeRadio" type="radio" value="2" id="qrStyle2" name="qrStyle" class="qrStyle"/>已选

										</p>
									</li>
									<li>

										<label for="qrStyle3">
											<div>
												<img src="../static/img/ErWeiMa4.jpg" alt="" />
											</div>
										</label>
										<p>

											<input class="YiXuanChangeRadio" type="radio" value="3" id="qrStyle3" name="qrStyle" class="qrStyle"/>已选
										</p>
									</li>
									<li>

										<label for="qrStyle4">
											<div>
												<img src="../static/img/ErWeiMa2.jpg" alt="" />
											</div>
										</label>

										<p>
											<input class="YiXuanChangeRadio" type="radio" value="4"  id="qrStyle4" name="qrStyle" class="qrStyle"/>已选
										</p>
									</li>
								</ul>

								<input type="button" value="提交审核" id="submitApply" style="width:135px;height:42px;border:none;background:#ea5503;font-size:1rem;color:#fff;border-radius: 5px;box-shadow:0.1rem 0.1rem 0.1rem #ab3e05;margin-top:1.2rem;">
							</div>
							<div style="height:44px;">

							</div>
						</div>

					</form>
				</div>
			</div>

			<!--拍照弹窗-->
			<div style="display:none;" id="paiZhaoPupup">
				<div style="width:100%;height:100%;background:black;opacity: 0.2;position:absolute;left:0;top:0;bottom:0;right:0;z-index:100000;">
				</div>
				<div style="width:70%;height:145px;border-radius:1rem;border:2px solid #ef595a;background:#fff;position:absolute;left:15%;top:25%;bottom:0;z-index:100001;display: flex;flex-direction:column;justify-content:space-between ;align-items: center;padding:1rem 0 1.2rem 0;">

					<span id="PaiZhaoPost" style="border:1px solid #ee5f63;border-radius:1rem;height:34px;color:#ea5505;font-size:0.8rem;line-height:34px;display:block;width:84%;margin:0 auto;">拍照上传</span>

					<span id="PhonePost" style="border:1px solid #ee5f63;border-radius:1rem;height:34px;color:#ea5505;font-size:0.8rem;line-height:34px;display:block;width:84%;margin:0 auto;">从相册中选择</span>
				</div>
			</div>
			<!--业态遮罩层-->
			<div id="yeTaiZheZhaoCeng" style="width:100%;height:100%;background:black;opacity: 0.2;position:absolute;left:0;top:0;bottom:0;right:0;z-index:10000;display: none;">
				</div>
			<!--上传许可证弹窗-->
			<div style="display:none;" class="xuKeZhengPupup">
				<div style="width:100%;height:100%;background:black;opacity: 0.2;position:absolute;left:0;top:0;bottom:0;right:0;z-index:1000002;">
				</div>
				<div style="width:70%;height:145px;border-radius:1rem;border:2px solid #ef595a;background:#fff;position:absolute;left:15%;top:40%;bottom:0;z-index:1000003;display: flex;flex-direction:column;justify-content:space-between ;align-items: center;padding:1rem 0 1.2rem 0;">

					<span id="XuKeZhengPost" style="border:1px solid #ee5f63;border-radius:1rem;height:34px;color:#ea5505;font-size:0.8rem;line-height:34px;display:block;width:84%;margin:0 auto;">拍照上传</span>

					<span id="PhonePost2" style="border:1px solid #ee5f63;border-radius:1rem;height:34px;color:#ea5505;font-size:0.8rem;line-height:34px;display:block;width:84%;margin:0 auto;">从相册中选择</span>
				</div>

			</div>
		</div>



				<!--已认证弹窗-->
			<div id="SuccessRenZheng" style="display:none;">
				<div style="width:100%;height:100%;background:black;opacity: 0.2;position:absolute;left:0;top:0;bottom:0;right:0;z-index:100000;">
				</div>
				<div style="z-index: 100001;width: 70%;height: 11rem;padding: 0;top:9rem;left:15%;table-layout: fixed;position: absolute;border-radius:1rem;background:white;display: flex;flex-direction:column;justify-content:space-between ;align-items: center;padding:1.8rem 0 1.5rem 0;">
					<div>
						<span style="font-size:1rem;font-weight:900;color:#e3590e;display:block;width:100%;margin:0 auto;">认证申请提交成功!</span>

					<!--<span style="font-size:0.6rem;color:#656160;display:block;width:100%;margin:0.3rem auto;text-align:center;">不准领取二维码标牌哦!</span>-->
					</div>
					<div id="KnowSoTahts" style="border:1px solid #e3590e;border-radius:1rem;font-size:0.8rem;background:#fff;color:#ee5f63;width:45%;height:1.8rem;margin:0 auto;line-height:1.8rem;text-align: center;">我知道了</div>
				</div>
			</div>
		<!--底部工具栏-->

		<nav style="bottom: 0;width: 100%;height: 3.25rem;position: absolute;right: 0;left:0;z-index: 10;table-layout: fixed;background:url(../static/img/footBackground.png) no-repeat center;background-size:100% 100%;display: flex;">
				<a href="home.html" style="display:block;width:33.33%;height:3.25rem;display: flex;flex-direction:column;justify-content: center;align-items: center;">
					<img src="../static/img/icon-home2.png" alt="" style="display:block;width:1.5rem;height:1.34375rem;margin-top:0.4rem;" />
					<span style="font-size: 0.625rem;color:#6a3314;margin-top:0.3rem;">门店中心</span>
				</a>
				<a href="MineScore.html" style="display:block;width:33.33%;height:3.25rem;display: flex;flex-direction:column;justify-content: center;align-items: center;">
					<img src="../static/img/icon-yeji2.png" alt="" style="display:block;width:1.5rem;height:1.34375rem;margin-top:0.4rem;" />
					<span style="font-size: 0.625rem;color:#af8360;margin-top:0.3rem;">我的业绩</span>
				</a>
				<a href="MoneyManage.html" style="display:block;width:33.33%;height:3.25rem;display: flex;flex-direction:column;justify-content: center;align-items: center;">
					<img src="../static/img/icon-qianbao2.png" alt="" style="display:block;width:1.5rem;height:1.34375rem;margin-top:0.4rem;" />
					<span style="font-size: 0.625rem;color:#af8360;margin-top:0.3rem;">我的钱包</span>
				</a>
			</nav>


		<!--遮罩层-->
		<div style="position: absolute;right: 0;left: 0;z-index: 20;bottom: 0;width: 100%;height: 2.5rem;padding: 0;table-layout: fixed;">

		</div>

		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
		<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
		<script src="https://cdn.staticfile.org/webuploader/0.1.0/webuploader.html5only.js"></script>
		<script type='text/javascript' src='../js/userInfo.js'></script>

	</body>

</html>